body{
    background: rgb(211, 211, 211);
    font-family: Verdana, Geneva, sans-serif;
}


.kassi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "q1 q2 q2 q2 q4"
    ;
}

.langt{
    display: grid;
    grid-template-rows:1fr 1fr ;
    grid-template-areas:
    "w1 w2"
    ;
    background: rgb(82, 82, 82);
}
.w1{
    grid-area: w1;
}
.w2{
    grid-area: w2;
}

.left{
    text-align: left;
}
.right{
    text-align: right;
}
.middle{
    text-align: middle;
}

.fright{
    float: left;
    
    margin-top: 10px;
}
.q1{
    grid-area: q1;
}
.q2{
    grid-area: q2;
    line-height: 1.5;
    margin: 1em
}
.q3{
    grid-area: q3;
}
.q4{
    grid-area: q4;
}



img{
    display: box;
}

.mside{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
    "r1"
    "r2"
    "r3"
}
.r1{
    grid-area: r1;
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
}
.r2{
    grid-area: r2;
}
.r3{
    grid-area: r3;
}


.wrap {
    text-align: center;
    max-width: 80%;
    margin: auto;
    min-height: 100vh;
    display: table;
}

.altText {
    display: grid;
}

.navText a {
    color: rgb(0, 0, 0);
    padding: 0.1em;
}

.nidurkassi{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "c1 c2 c3 c4 c4 c5 c6 c7"
    ;
}
.c2{
    grid-area: c2;
}
.c4{
    grid-area: c4;
}
.c6{
    grid-area: c6;
}